/*用于引导页面的样式 */
html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.erya .topic {
  position: relative;
  height: 100%;
  margin-bottom: 0!important;
}
.erya .topic .tit_c {
  display: block;
  width: 100%;
  height: 5em;
  line-height: 6em;
  font-size: 1.5em;
  font-weight: normal;
  color: #3a83d0;
}
/* 弹窗 */

.erya #popBg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99998;
  background: rgba(0, 0, 0, .55);
}
.erya #popNav, .erya #userpopNav {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  background: #fff;
  border-radius: 16px;
  width: 80%;
  height: 18em;
  margin: -9em 0 0 -40%;
  color: #333;
}
.erya .nav_h {
  height: 28em!important;
  margin: -14em 0 0 -40%!important;
}
.erya .nav_h .tit {
  margin-bottom: 1em;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #999;
}
.erya .nav_h .pic_1 {
  width: 80%;
}
.erya .nav_h .roles {
  float: left;
  width: 30%;
  position: relative;
  -webkit-opacity: .6;
  opacity: .6;
}
.erya .nav_h .roles.l {
  margin: 0 5% 1em 15%;
}
.erya .nav_h .roles.r {
  margin: 0 15% 1em 5%;
}
.erya .nav_h .roles.current {
  -webkit-opacity: 1;
  opacity: 1;
}
.erya .nav_h .roles img {
  width: 100%;
}
.erya .nav_h .roles span {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border: 3px solid #fff;
  border-radius: 1.5em;
  background: #ddd;
  color: #aaa;
  text-align: center;
}
.erya .nav_h .roles.current.l span {
  background: #f78eab;
  color: #fff;
}
.erya .nav_h .roles.current.r span {
  background: #b0cffe;
  color: #fff;
}
.erya .nav_h .mbsc-ios .mbsc-sc-whl-gr {
  padding: 0!important;
}
.erya #popNav h1, .erya #userpopNav h1 {
  position: relative;
  display: block;
  width: 100%;
  height: 3.5em;
  line-height: 3.5em;
  margin-bottom: 0.8em;
  border-radius: 16px 16px 0 0;
  font-size: 1.2em;
  font-weight: normal;
  background: #bce0ff url(../img/erya_img_04.png) repeat-x left bottom;
  background-size: 120%;
}
.erya #popNav h1 img, .erya #userpopNav h1 img {
  position: absolute;
  top: -1em;
  left: 50%;
  width: 32%;
  margin-left: -16%;
}
.erya #popNav h2, .erya #userpopNav h2 {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3em;
  margin-bottom: 1em;
  border-radius: 16px 16px 0 0;
  font-size: 1.2em;
  font-weight: normal;
  background: #f3f3f3;
  color: #000;
}
.erya #popNav h2 i, .erya #popNav h1 i, .erya #userpopNav h2 i, .erya #userpopNav h1 i {
  position: absolute;
  right: 1em;
  top: 0;
  font-size: 0.6em;
  width: 2em;
  height: 4.5em;
  line-height: 4.5em;
  color: #888;
}
.erya #popNav h1 i, .erya #userpopNav h1 i {
  top: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 2em;
  color: #fff;
  background: #9fd0fa;
}
.erya #popNav p, .erya #userpopNav p {
  display: block;
  width: 90%;
  height: 2.2em;
  line-height: 2.2em;
  border-bottom: 1px solid #ebebeb;
  margin: 0 5%;
  text-align: left;
  color: #383838;
}
.erya #popNav a, .erya #userpopNav a {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
  width: 100%;
  height: 3em;
  line-height: 3em;
  color: #5d96f5;
  font-size: 1.2em;
}
.erya #popNav a.cancel, .erya #popNav a.enter, .erya #userpopNav a.cancel, .erya #userpopNav a.enter {
  display: block;
  bottom: 0.8em;
  width: 43%;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 5px;
  font-size: 1em;
}
.erya #popNav a.cancel, .erya #userpopNav a.cancel {
  left: 0.7em;
  color: #aeaeae;
  background: #f6f6f6;
}
.erya #popNav a.enter, .erya #userpopNav a.enter {
  left: auto;
  right: 0.7em;
  color: #fff;
  background: #3598fe;
}
/* 引导页 */

.guide_nav {
  position: relative;
  height: 100%;
}
.guide_nav div {
  position: relative;
}
#leadButton {
  position: absolute;
  left: 10%;
  bottom: 3em;
  display: block;
  width: 80%;
  height: 3em;
  line-height: 3em;
  background: #3598fe;
  border-radius: 3em;
  color: #fff;
}
#md {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.erya .topic {
  position: relative;
  height: 100%;
  margin-bottom: 0!important;
}
.erya .topic .tit_c {
  display: block;
  width: 100%;
  height: 5em;
  line-height: 6em;
  font-size: 1.5em;
  font-weight: normal;
  color: #3a83d0;
}

/* 向下箭头动画 */

.s-xguide-down {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -10px;
  opacity: .7;
  cursor: pointer;
  background:url("../image/move.png") no-repeat;
  background-size: 100% 100%;
}
.move-tip{
  position: absolute;
  left: 50%;
  font-size: .8em;
  color: rgb(32, 32, 32);
  writing-mode:tb-rl;
  opacity: .7;
  bottom:13%;
  margin-left: -0.4em;
}

@keyframes xguide_down {
  0%, 100% {
    bottom:7%;

  }
  50% {
    bottom:3%;
  }
}
@-webkit-keyframes xguide_down {
  0%, 100% {
    bottom:7%;
  }
  50% {
    bottom:3%;
  }
}
@-moz-keyframes xguide_down {
  0%, 100% {
    bottom:7%;
  }
  50% {
   bottom:3%;
  }
}
@-o-keyframes xguide_down {
  0%, 100% {
    bottom:7%;
  }
  50% {
    bottom:3%;
  }
}


.s-xguide-down.trans {
  -webkit-animation: xguide_down 2.0s infinite ease-in-out;
  -moz-animation: xguide_down 2.0s infinite ease-in-out;
  -o-animation: xguide_down 2.0s infinite ease-in-out;
  animation: xguide_down 2.0s infinite ease-in-out
}
.s-xguide-down.arrow-1 {
  animation-delay: -2.0s;
  -webkit-animation-delay: -2.0s;
  -moz-animation-delay: -2.0s;
  -o-animation-delay: -2.0s
}
/* 用户信息 */

.erya .topic dd s {
  position: absolute;
  right: 1em;
  top: -0.5em;
  text-decoration: none;
  font-size: 0.9em;
  color: #aeaeae;
}

/* 历史成绩 */

.history_nav {
  position: relative;
  height: 100%;
  background: url(../img/erya_img_14.png);
}
.history_nav img {
  position: fixed;
  top: 3em;
  left: 50%;
  margin: 0 0 0 -35%;
  width: 70%;
}
.history_nav #main {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70%;
}

/* 弹窗 */

.erya #popBg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99998;
  background: rgba(0, 0, 0, .55);
}
.erya #popNav, .erya #userpopNav {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  background: #fff;
  border-radius: 16px;
  width: 80%;
  height: 18em;
  margin: -9em 0 0 -40%;
  color: #333;
}
.erya .nav_h {
  height: 28em!important;
  margin: -14em 0 0 -40%!important;
}
.erya .nav_h .tit {
  margin-bottom: 1em;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #999;
}
.erya .nav_h .pic_1 {
  width: 80%;
}
.erya .nav_h .roles {
  float: left;
  width: 30%;
  position: relative;
  -webkit-opacity: .6;
  opacity: .6;
}
.erya .nav_h .roles.l {
  margin: 0 5% 1em 15%;
}
.erya .nav_h .roles.r {
  margin: 0 15% 1em 5%;
}
.erya .nav_h .roles.current {
  -webkit-opacity: 1;
  opacity: 1;
}
.erya .nav_h .roles img {
  width: 100%;
}
.erya .nav_h .roles span {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border: 3px solid #fff;
  border-radius: 1.5em;
  background: #ddd;
  color: #aaa;
  text-align: center;
}
.erya .nav_h .roles.current.l span {
  background: #f78eab;
  color: #fff;
}
.erya .nav_h .roles.current.r span {
  background: #b0cffe;
  color: #fff;
}
.erya .nav_h .mbsc-ios .mbsc-sc-whl-gr {
  padding: 0!important;
}
.erya #popNav h1, .erya #userpopNav h1 {
  position: relative;
  display: block;
  width: 100%;
  height: 3.5em;
  line-height: 3.5em;
  margin-bottom: 0.8em;
  border-radius: 16px 16px 0 0;
  font-size: 1.2em;
  font-weight: normal;
}
.erya #popNav h1 img, .erya #userpopNav h1 img {
  position: absolute;
  top: -1em;
  left: 50%;
  width: 32%;
  margin-left: -16%;
}
.erya #popNav h2, .erya #userpopNav h2 {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3em;
  margin-bottom: 1em;
  border-radius: 16px 16px 0 0;
  font-size: 1.2em;
  font-weight: normal;
  background: #f3f3f3;
  color: #000;
}
.erya #popNav h2 i, .erya #popNav h1 i, .erya #userpopNav h2 i, .erya #userpopNav h1 i {
  position: absolute;
  right: 1em;
  top: 0;
  font-size: 0.6em;
  width: 2em;
  height: 4.5em;
  line-height: 4.5em;
  color: #888;
}
.erya #popNav h1 i, .erya #userpopNav h1 i {
  top: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 2em;
  color: #fff;
  background: #9fd0fa;
}
.erya #popNav p, .erya #userpopNav p {
  display: block;
  width: 90%;
  height: 2.2em;
  line-height: 2.2em;
  border-bottom: 1px solid #ebebeb;
  margin: 0 5%;
  text-align: left;
  color: #383838;
}
.erya #popNav a, .erya #userpopNav a {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
  width: 100%;
  height: 3em;
  line-height: 3em;
  color: #5d96f5;
  font-size: 1.2em;
}
.erya #popNav a.cancel, .erya #popNav a.enter, .erya #userpopNav a.cancel, .erya #userpopNav a.enter {
  display: block;
  bottom: 0.8em;
  width: 43%;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 5px;
  font-size: 1em;
}
.erya #popNav a.cancel, .erya #userpopNav a.cancel {
  left: 0.7em;
  color: #aeaeae;
  background: #f6f6f6;
}
.erya #popNav a.enter, .erya #userpopNav a.enter {
  left: auto;
  right: 0.7em;
  color: #fff;
  background: #3598fe;
}
.appraisal .topic dl {
  width: 100%;
  color: #4e4e4e;
}
.appraisal .topic dd {
  display: block;
  width: 75%;
  padding: 0 15% 0 10%;
  height: auto!important;
  height: 3em;
  min-height: 3em;
  line-height: 3em;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}
.appraisal .topic dd a {
  display: block;
  width: 15%;
  height: 133%;
  margin-top: -1em;
  background-size: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.appraisal .topic dd p {
  line-height: 2em;
  margin: 1em auto;
}
/*引导页的样式*/
.big-bg{
  width: 100%;
  height: 100%;
  background: url("../image/bg_3.png") no-repeat;
  background-size: 100%;
}
 .guide_nav .title{
   padding-top:3em;
   color: #fff;
   padding-bottom:6rem;
 }
.guide_nav .title strong{
  font-size: 3.2em;
  font-weight: normal;
  line-height: 1.2;
}
.guide_nav .title h3{
  font-size: 1.4em;
  font-weight: normal;
}
.guide_nav .middle{
  position: absolute;
  background: url("../image/man.png") no-repeat;
  background-size: 70%;
  background-position: center;
  height: 50%;
  top:22%;
  left: 0;
  width: 100%;
}
.guide_nav  .tips{
  position: absolute;
  background: url("../image/bg_2.png") no-repeat;
  background-size: 100%;
  background-position: center;
  width: 60%;
  bottom:-10%;
  left: 0;
  margin-left: 20%;
  height: 7em;
  padding-top: 3em;
}
.guide_nav  .tips p{
  width: 80%;
  text-align: left;
  font-size: .7em;
  margin: 2px auto;
  line-height: 2;
}
.guide_nav .tips p+p{
  border-top:1px dashed #cccecf;
}