/* create by zhxf 用于问题列表的样式*/

/* 进度条的样式 */

.process-group {
  font-size: 0;
  margin-top: .05rem;
}

.process-group>li {
  position: relative;
  display: inline-block;
  width: 25%;
  height: .27rem;
  line-height: .27rem;
  padding: .05rem .07rem;
  box-sizing: border-box;
}

.process-group .pro-num {
  position: absolute;
  display: inline-block;
  width: .13rem;
  height: .13rem;
  line-height: .13rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #bbbbbb;
  font-size: .1rem;
  color: #fff;
  text-align: center;
  z-index: 3;
}

.process-group .process {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0.07rem;
  right:0.07rem;
  margin-top: -.03rem;
  height: .06rem;
  background-color: #dadada;
  border-radius: 5px; 
  z-index: 1;
}

/* 测试题提示语的样式 */
.tip-box{
  padding: 0.05rem .07rem;
  box-sizing: border-box;
}
.tips{
    padding: .05rem .08rem;
    box-sizing: border-box;
    font-size:.16rem;
    color: rgba(39, 161, 243, 0.8);
    line-height: 1.5;
    background-color: #f6fafc;
    border:1px dotted rgba(39,161,243,.8);
    border-radius: 10px;
}
.tips .number{
  color: #f36c53;
}
.tips .color-gray{
  color:#8f9090;
}
.done .pro-num{
  background-color: #5abdff;
}
.done .process{
  background-image: -moz-linear-gradient( 0deg, rgb(78, 159, 238) 35%, rgb(89, 187, 233) 71%);
  background-image: -webkit-linear-gradient( 0deg, rgb(78, 159, 238) 35%, rgb(89, 187, 233) 71%);
  background-image: -ms-linear-gradient( 0deg, rgb(78, 159, 238) 35%, rgb(89, 187, 233) 71%);
}
/*图标的样式*/

.tip-box .icon-pen{
  color:#b6b6b6;
  font-size: .14rem;
}
/* 测试题的样式 */

#question-box ul {
  padding: .1rem .13rem;
}

.ques-title {
  font-weight: normal;
  font-size: .15rem;
  color: rgb(71, 71, 71);
  line-height: 1.467;
}

.ques-list {
  font-size: 0;
  padding: 0 .1rem;
}

.ques-list h3 {
  padding: .05rem 0.05rem;
  font-size: .15rem;
  color: #1c1c1c;
  background-color: #f4f4f4;
  font-weight: normal;
  line-height: 1.5;
}

.ques-list .answer-list {
  margin-top: .1rem;
}

.ques-list .answer-list>li {
  position: relative;
  font-size: .14rem;
  padding: .1rem .25rem .1rem 0;
  color: rgb(136, 136, 136);
  line-height: 1.5;
  list-style-type: upper-latin;
  list-style-position: inside;
}

.question-box>li {
  padding: .1rem 0;
}

.question-box>li+li {
  border-top: 1px solid #f2f2f2;
}

.ques-list .answer-list .select-btn {
  position: absolute;
  display: inline-block;
  width: .2rem;
  height: .2rem;
  top: .1rem;
  right: 0;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  border-radius: 50%;
}

.ques-list .answer-list .select-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: .12rem;
  height: .12rem;
  background-color: #c7c7c7;
  border-radius: 50%;
}

.ques-list .answer-list .selected-btn {
  border: 1px solid #00a8ff;
}

.ques-list .answer-list .selected-btn .select-inner {
  background-color: #00a8ff;
}

.submit-wrap {
  margin-top: .15rem;
  font-size: 0;
}

.submit-wrap input {
  background-color: #00a8ff;
  width: 100%;
  height: .42rem;
  border: none;
  color: #fff;
  font-size: .14rem;
  text-align: center;
}

.submit-wrap input:disabled{
   background-color: #c7c7c7;
}

/*A.B两个词语选项类的测评样式*/
.ques-no{
  padding: 0 .2rem;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #f4f4f4;
  font-size: 0;
  margin: .03rem 0;
}
.ques-no>span{
  display: inline-block;
  font-size: .18rem;
  width: 50%;
  height:.28rem;
  padding: 0 .1rem;
  line-height: .28rem;
  box-sizing: border-box;
  color: #333;
}
.paddinglr7{
  padding: 0 .07rem;
}
#question-box .z-liststyle-box{
  padding-top: 0;
}
.z-liststyle{
  font-size: 0;
  display: inline-block;
  width: 3rem;
}
.ques-list  .z-liststyle>li{
  list-style: none;
  display: inline-block;
  width: 50%;
  font-size: .14rem;
  box-sizing: border-box;
  padding: 0;
}
.question-box .z-liststyle-list{
  border: none;
  padding: .06rem 0;
}
.ques-list .z-liststyle .select-btn{
  position: inherit;
  vertical-align: middle;
  top:0;
}
.ques-num{
  display: inline-block;
  font-size: .12rem;
  color: #1e1e1e;
  width: .2rem;
}