/* create by  zhxf 用于测评结果页面的样式 */


/* 测评分数的样式 */

.score {
  font-size: 0;
  padding: .15rem .11rem .07rem;
  box-sizing: border-box;
}

.score li {
  display: inline-block;
  width: 25%;
  padding: 0 .04rem;
  box-sizing: border-box;
}

.score .score-top,
.score .score-bottom {
  padding: .2rem 0 .15rem;
  color: #a1cdf6;
  background-color: #f4f9fd;
  text-align: center;
  border: 1px solid #a1cdf6;
  border-radius: 5px;
  line-height: 1.4;
}

.score strong {
  display: block;
  font-size: .15rem;
  color: #4e9fee;
}

.score span {
  font-size: .13rem;
  color: #73a8e1;
}

.score .score-top {
  position: relative;
  z-index: 3;
}

.score .score-bottom {
  position: relative;
  z-index: 2;
  top: -0.05rem;
}

.border-bottom {
  position: relative;
  height: .05rem;
  background-color: #9ecaf6;
  top: -0.08rem;
  opacity: 0.549;
  z-index: 3;
}

.score .high-mark {
  background-color: #d8eeff;
}


/* 测试结果的样式 */


/* 背景渐变色 */

.bg-gradient {
  padding: .25rem .15rem 0;
  background-image: -webkit-linear-gradient(to top, #fff, #f0f7fe);
  background-image: linear-gradient(to top, #fff, #f0f7fe);
}

.result-type {
  box-sizing: border-box;
  text-align: center;
  background: url("../image/bg_1.png") no-repeat;
  background-size: 100%;
}

.result-type h3 {
  font-size: .18rem;
  font-weight: normal;
  color: #fff;
}

.result-type .type {
  padding: .2rem 0 .3rem;
  font-size: .5rem;
  color: #fff;
  line-height: 1;
}

.result-type .bg-orange {
  display: inline-block;
  background-color: #f36c53;
  font-size: .17rem;
  height: .25rem;
  line-height: .25rem;
  width: .25rem;
  border-radius: 50%;
}


/* 测试结果描述 */

.result-des {
  padding: .14rem 0 .14rem .3rem;
  box-sizing: border-box;
}

.result-des>li {
  position: relative;
  padding: .1rem 0;
  font-size: .14rem;
  color: rgb(43, 43, 43);
  line-height: 1.5;
}

.result-des>li+li {
  border-top: 1px solid #ececec;
}

.bg-blue {
  position: absolute;
  display: inline-block;
  top: .12rem;
  left: -.32rem;
  background-color: #ddeffb;
  color: #54a4ed;
  border-radius: 2px;
  text-align: center;
  width: .17rem;
  height: .17rem;
  line-height: .17rem;
  font-size: .15rem;
}


/* 推荐的样式 */

.recommand {
  font-size: 0;
  padding: .1rem .05rem .2rem;
}

.recommand .title {
  text-align: center;
  line-height: 2;
}

.recommand .title>span {
  display: inline-block;
  vertical-align: middle;
  font-size: .16rem;
  color: rgb(0, 0, 0);
  margin: 0 .02rem;
}

.recommand .border-gray {
  width: .25rem;
  height: 1px;
  background-color: #cfd2d3;
}


/*  推荐内容的样式*/

.recommand-content {
  font-size: 0;
  text-align: center;
}

.recommand-content>li {
  position: relative;
  display: inline-block;
  margin: .07rem;
  width: 1.65rem;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.recommand-content>li>img {
  width: 100%;
}

.recommand-content .tag {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: .2rem;
  line-height: .2rem;
  padding: 0 .12rem;
  font-size: .12rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}
/*再测一次的样式*/
.test-again{
  padding: 0 .13rem;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: .25rem;
  font-size: 0;
}
.test-again>input{
  border-radius: 10px;
  color: #fff;
  height: .46rem;
  font-size: .16rem;
  text-align: center;
  width: 100%;
  border:none;
  background-color: #34adff;
  cursor: pointer;
}

/*课程名称的样式*/
.recommand-content .title{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  margin: .1rem 0;
  line-height: 1;
  font-size: .14rem;
  text-align: left;
}