@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hmimsd');
  src:  url('fonts/icomoon.eot?hmimsd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hmimsd') format('truetype'),
    url('fonts/icomoon.woff?hmimsd') format('woff'),
    url('fonts/icomoon.svg?hmimsd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e904";
}
